@model iti.ViewModelClasses.RegisterUserViewModel

@{
    ViewData["Title"] = "AddAdmin";
}

<form asp-action="AddAdmin" class="text-capitalize">
    <div class="container-fluid callback my-5 pt-5">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="bg-white border rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.5s" style="background-color:#6f4518">
                        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                            <p class="d-inline-block border rounded fw-semi-bold py-1 px-3" style="color:#6f4518">
                                RegiAddAdminster
                            </p>
                            <h1 class="display-5 mb-5" style="color:#6f4518"> Add Admin Form </h1>
                        </div>
                        <div class="row g-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input class="form-control" asp-for="Name" placeholder="code">
                                    <label for="name">user name</label>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input class="form-control" asp-for="Code" placeholder="code">
                                    <label for="Code">user Code</label>
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input class="form-control" asp-for="Password" placeholder="code">
                                    <label for="name">user password</label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input class="form-control" asp-for="ConfirmPassword" placeholder="code">
                                    <label for="name">user ConfirmPassword</label>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <input class="btn text-white text-capitalize w-100 py-3" style="background-color:#6f4518" type="submit" value="Send Data" />
                            </div>
                            <div class="col-12 text-center">
                                <a class="btn text-white text-capitalize w-100 py-3" style="background-color:#6f4518" asp-action="Index" asp-controller="Home"> back to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

