<div class="container-xxl service py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded fw-semi-bold py-1 px-3" style="color:#6f4518">Our Services</p>
            <h1 class="display-5 mb-5" style="color:#6f4518;">Awesome Financial Services For Business</h1>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                    <button class="nav-link w-100 d-flex align-items-center justify-content-center text-start border p-4 mb-4 active">
                        <h5 class="m-0"><i class="fa fa-bars  me-3" style="color:#6f4518"></i>Education Planning</h5>
                    </button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="/img/service-1.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4" style="color:#6f4518;">25 Years Of Experience In Education Support</h3>
                                <p class="mb-4">
                                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
                                    diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit
                                    clita duo justo erat amet.
                                </p>
                                <p><i class="fa fa-check me-3" style="color:#6f4518"></i>Secured Sessions</p>
                                <p><i class="fa fa-check me-3" style="color:#6f4518"></i>Expert Teachers</p>
                                <p><i class="fa fa-check me-3" style="color:#6f4518"></i>Helpful Teams</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Facts Start -->
<div class="container-fluid  my-5 py-5" style="background-color:#6f4518">
    <div class="container py-5" style="background-color:#6f4518">
        <div class="row g-5">
            <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                <i class="fa fa-users fa-3x text-white mb-3"></i>
                <h1 class="display-4 text-white" data-toggle="counter-up">1234</h1>
                <span class="fs-5 text-white">Happy Clients</span>
                <hr class="bg-white w-25 mx-auto mb-0">
            </div>
            <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                <i class="fa fa-check fa-3x text-white mb-3"></i>
                <h1 class="display-4 text-white" data-toggle="counter-up">1234</h1>
                <span class="fs-5 text-white">Student Educated</span>
                <hr class="bg-white w-25 mx-auto mb-0">
            </div>
            <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                <i class="fa fa-users-cog fa-3x text-white mb-3"></i>
                <h1 class="display-4 text-white" data-toggle="counter-up">1234</h1>
                <span class="fs-5 text-white">Dedicated Staff</span>
                <hr class="bg-white w-25 mx-auto mb-0">
            </div>
            <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <i class="fa fa-award fa-3x text-white mb-3"></i>
                <h1 class="display-4 text-white" data-toggle="counter-up">1234</h1>
                <span class="fs-5 text-white">Awards Achieved</span>
                <hr class="bg-white w-25 mx-auto mb-0">
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
<!-- Features Start -->

<!-- Features End -->