@model Course

@{
    SelectList items = new SelectList(ViewBag.Department, "Id", "Name");
}
<div class="col-sm-6">
    <div class="form-floating">
        <input class="form-control" asp-for="CourseName" placeholder="CourseName">
        <label for="CourseName">Course Name</label>
        <span asp-validation-for="CourseName" class="text-danger"></span>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-floating">
        <input class="form-control" asp-for="CourseCode" placeholder="CourseCode">
        <label>CourseCode</label>
        <span asp-validation-for="CourseCode" class="text-danger"></span>
    </div>
</div>
<div class="col-sm-12 ">
    <div class="form-floating">
        <input class="form-control" asp-for="Hours" placeholder="Hours">
        <label>Course Hours</label>
        <span asp-validation-for="Hours" class="text-danger"></span>
    </div>
</div>
<div class="col-12">
    <div class="form-floating">
        <select asp-items="items" asp-for="Dept_Id" class="form-control text-center p-2">
            <option value="0">--select an option--</option>
        </select>
        <span asp-validation-for="Dept_Id" class="text-danger"></span>
    </div>
</div>